# Data Types and Structures

1. What are data structures, and why are they important?
    -Data structures are ways to organize and store data so that we can use it efficiently. They are important because they help us manage large amounts of data, making it easier to access, modify, and analyze. Think of them as different containers for data, each suited for specific tasks.

2. Explain the difference between mutable and immutable data types with examples.
    -Mutable data types can be changed after they are created, like lists in Python. For example, you can add or remove items from a list. On the other hand, immutable data types cannot be changed once they are created. A good example is a string; if you want to change a string, you have to create a new one instead.

3. What are the main differences between lists and tuples in Python?
    -Lists are mutable, meaning you can change their content, while tuples are immutable, so once you create a tuple, you can't modify it. Additionally, lists use square brackets [], while tuples use parentheses (). Lists are great for collections of items that might change, while tuples are better for fixed collections.

4. Describe how dictionaries store data.
    -Dictionaries store data in key-value pairs. Each key is unique, and it maps to a specific value. This allows for fast lookups since you can access a value directly using its key. For example, in a dictionary like {"name": "Ashish", "age": 25}, "name" is the key, and "Ashish" is the value.

5. Why might you use a set instead of a list in Python?
    -You might use a set when you want to store unique items and donâ€™t care about the order. Sets automatically remove duplicates, which can be really handy. For example, if you want to keep track of unique user IDs, a set would be perfect.

6. What is a string in Python, and how is it different from a list?
    -A string in Python is a sequence of characters, like "Hello, World!". The main difference from a list is that strings are immutable, meaning you can't change them after they're created. Lists can hold multiple items of any type and can be modified.

7. How do tuples ensure data integrity in Python?
    -Tuples ensure data integrity by being immutable. Once we create a tuple, its contents cannot be changed, which means the data remains consistent throughout the program. This is useful when we want to ensure that certain data should not be altered.

8. What is a hash table, and how does it relate to dictionaries in Python?
    -A hash table is a data structure that uses a hash function to map keys to values, allowing for fast data retrieval. In Python, dictionaries are implemented using hash tables, which is why they can quickly look up values based on their keys.

9. Can lists contain different data types in Python?
    -Yes, like a mom's bag, lists in Python can contain different data types. You can have a list with integers, strings, and even other lists all in one. For example, my_list = [1, "hello", 3.14, [2, 3]] is perfectly valid.

10. Explain why strings are immutable in Python.
    -Strings are immutable in Python to ensure that they remain constant and to optimize performance. When we create a string, it is stored in memory, and if it were mutable, it could lead to unexpected behavior and bugs. Immutability also allows for better memory management.

11. What advantages do dictionaries offer over lists for certain tasks?
    -Dictionaries offer faster lookups for values since we can access them directly using keys, while lists require searching through items. This makes dictionaries more efficient for tasks where we need to frequently retrieve data based on a specific identifier.

12. Describe a scenario where using a tuple would be preferable over a list.
    -Using a tuple would be preferable when you want to store a collection of related values that should not change, like the coordinates of a point (x, y). Since the coordinates should remain constant, a tuple is a better choice than a list.. use case "attandance"

13. How do sets handle duplicate values in Python?
    -Sets automatically remove duplicate values. If you try to add a duplicate item to a set, it simply ignores it. This makes sets a great choice when you want to ensure that all items are unique.

14. How does the "in" keyword work differently for lists and dictionaries?
    -When you use the "in" keyword with a list, it checks if a specific value exists in the list. For dictionaries, it checks if a specific key exists. So, value in my_list checks for the value, while key in my_dict checks for the key.

15. Can you modify the elements of a tuple? Explain why or why not.
    -You cannot modify the elements of a tuple because they are immutable. This means that once a tuple is created , its contents cannot be changed, which helps maintain data integrity and prevents accidental modifications.

16. What is a nested dictionary, and give an example of its use case?
    -A nested dictionary is a dictionary that contains other dictionaries as its values. This structure is useful for representing complex data. For example, you could have a dictionary representing a school, where each key is a class name, and the value is another dictionary containing student names and their grades:

In [ ]:
school = {
    "Math": {"Ashish": 25, "Ashu": 27},
    "Science": {"Ash": 26, "Ashi": 28}
}

17. Describe the time complexity of accessing elements in a dictionary.
    -Accessing elements in a dictionary has an average time complexity of O(1), which means it can retrieve values very quickly using their keys. This efficiency is due to the underlying hash table implementation.

18. In what situations are lists preferred over dictionaries?
    -Lists are preferred when we need to maintain an ordered collection of items or when we want to perform operations like slicing or iterating through elements. They are also useful when the data does not require key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    -Dictionaries are considered unordered because the items do not have a fixed order. This means that when you retrieve items, you cannot rely on the order in which they were added. However, you can still access values quickly using their keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    -The main difference in data retrieval is that lists use numerical indices to access elements, while dictionaries use unique keys. This means that with a list, you access items by their position, whereas with a dictionary, you access items by their associated key, allowing for more flexible and meaningful data retrieval.-

In [ ]:
# 1. Create a string with your name and print it
name = "Ashsih Dahiya"
print("My name is:", name)

My name is: Ashsih Dahiya

In [ ]:
# 2. Find the length of the string "Hello World"
hello_world = "Hello World"
len(hello_world)

11

In [ ]:
# 3. Slice the first 3 characters from the string "Python Programming"
python_string = "Python Programming"
python_string[:3]

'Pyt'

In [ ]:
# 4. Convert the string "hello" to uppercase
lowercase_string = "hello"
lowercase_string.upper()

'HELLO'

In [ ]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a.replace("apple", "orange")

'I like orange'

In [ ]:
# 6. Create a list with numbers 1 to 5 and print it
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
ashish_list = [1, 2, 3, 4]
ashish_list.append(10)
print(ashish_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
char_list[1]

'b'

In [ ]:
# 10. Reverse the list [10, 20, 30, 40, 50]
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Create a tuple with the elements 10, 20, 30 and print it
x = (10, 20, 30)
type(x)

tuple

In [ ]:
# 12. Access the first element of the tuple ('apple', 'banana', 'cherry')
fruit = ('apple', 'banana', 'cherry')
fruit[0]

'apple'

In [ ]:
# 13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
my_tuple = (1, 2, 3, 2, 4, 2) # Changed the variable name from 'tuple' to 'my_tuple' to avoid conflict with the built-in type.
a = my_tuple.count(2)
print(a)

3

In [ ]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animal = ('dog', 'cat', 'rabbit')
animal.index('cat')

1

In [ ]:
# 15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
fruit = ('apple', 'orange', 'banana')
'banana' in fruit

True

In [ ]:
# 16. Create a set with the elements 1, 2, 3, 4, 5 and print it
Ashu = {1, 2, 3, 4, 5}
print(Ashu)

{1, 2, 3, 4, 5}

In [ ]:
# 17. Add the element 6 to the set {1, 2, 3, 4}
Ashu = {1, 2, 3, 4}
Ashu.add(6)
print(Ashu)

{1, 2, 3, 4, 6}

In [ ]:
# 18. Create a tuple with the elements 10, 20, 30 and print it
Ashish = (10, 20, 30)
print(Ashish)

(10, 20, 30)

In [ ]:
# 19. Access the first element of the tuple ('apple', 'banana', 'cherry')
fruit = ('apple', 'banana', 'cherry')
fruit[0]

'apple'

In [ ]:
# 20. count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
ash_tuple = (1, 2, 3, 2, 4, 2)
a = ash_tuple.count(2)
print(a)

3

In [ ]:
# 21. find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal = ('dog', 'cat', 'rabbit')
animal.index('cat')

1

In [ ]:
# 22. check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruit = ('apple', 'orange', 'banana')
'banana' in fruit

True

In [ ]:
# 23. create a set with the elements 1, 2, 3, 4, 5 and print it.
ashish = {1, 2, 3, 4, 5}
print(ashish)

{1, 2, 3, 4, 5}

In [ ]:
# 24. add the element 6 to the set {1, 2, 3, 4}
ashish = {1, 2, 3, 4}
ashish.add(6)
print(ashish)

{1, 2, 3, 4, 6}